@page
@model HomeTask6.Web.Pages.CookingSteps.CookingStepsIndexModel
@{
    ViewData["Title"] = "Cooking steps";
}
@section Scripts
{
    <script>
        $(function () {
            $('#viewCookingSteps').load('/CookingSteps/CookingStepsIndex?handler=ViewCookingStepsPartial&recipeId=' + @Model.RecipeId);
        });
        $(function () {
            $('#addCookingStep').on('click', function () {
                var cookingStepName = $('#cookingStepName').val().replace(/ +/g, '+').trim();
                var recipeId = @Model.RecipeId;
                if (cookingStepName != '')
                {
                    $('#viewCookingSteps').load('/CookingSteps/CookingStepsIndex?handler=AddCookingStepPartial&cookingStepName=' + cookingStepName +
                        '&recipeId=' + @Model.RecipeId);
                    $('#cookingStepName').val('');
                }
                else
                {
                    alert('Enter description cooking step!');
                }
            });
        });
        $(function () {
            $(document).on('click', '#editCookingStep', function (e) {
                var cookingStepName = $('#' + e.target.value).val().replace(/ +/g, '+').trim();
                $('#viewCookingSteps').load('/CookingSteps/CookingStepsIndex?handler=EditCookingStepPartial&cookingStepId=' + e.target.value
                    + '&cookingStepName=' + cookingStepName + '&recipeId=' +@Model.RecipeId);
            });
        });
        $(function () {
            $(document).on('click', '#deleteCookingStep', function (e) {
                $('#viewCookingSteps').load('/CookingSteps/CookingStepsIndex?handler=DeleteCookingStepPartial&cookingStepId=' + e.target.value
                    + '&recipeId=' + @Model.RecipeId);
            });
        });
    </script>
}
<div class="decor">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
        <h3>@ViewData["Title"]</h3>
        <div class="wrap-long-text-step-edit">
            <a class="form-input" asp-page="/Recipes/ViewRecipe"
               asp-route-recipeId=@Model.RecipeId>Back to recipe</a>
            <div id="viewCookingSteps"></div>
            <textarea class="textarea-step" placeholder="Enter description cooking step" id="cookingStepName" required></textarea>
            <button class="form-input" type="submit" id="addCookingStep">Add</button>
        </div>
    </div>
</div>