@page
@model HomeTask6.Web.Pages.Recipes.ViewRecipeModel
@{
    ViewData["Title"] = "View recipe";
}
<form method="post" class="decor">
    <div class="form-left-decoration"></div>
    <div class="form-right-decoration"></div>
    <div class="circle"></div>
    <div class="form-inner">
        <h3 class="caption"><b>@Model.Recipe.Name</b></h3>
        <div>
            <div class="block">
                <b>
                    <a class="form-input" asp-page="RecipesIndex"
                       asp-page-handler="GetRecipes"
                       asp-route-categoryId=@Model.Recipe.CategoryId>Back to recipes</a>
                    <a class="form-input" asp-page="EditRecipe"
                       asp-route-recipeId=@Model.Recipe.Id>Edit name and description</a>
                    <a class="form-input" asp-page="/IngredientsRecipe/ChangeIngredientsRecipe"
                       asp-route-recipeId=@Model.Recipe.Id>Change ingredients</a>
                    <a class="form-input" asp-page="/CookingSteps/CookingStepsIndex"
                       asp-route-recipeId=@Model.Recipe.Id>Change cooking steps</a>
                    <input type="submit" value="Delete recipe" class="form-input"
                       asp-page-handler="DeleteRecipe"
                       asp-route-recipeId=@Model.Recipe.Id
                       asp-route-categoryId=@Model.Recipe.CategoryId>
                </b>
            </div>
            <div class="block">
                <div class="wrap-long-text">
                    @Model.Recipe.Description
                </div>
                <ul class="dotted">
                    <li class="caption"><h3 class="caption">Ingredients:</h3></li>
                    @foreach (var ingredient in Model.DisplayedIngredientsRecipe)
                    {
                        <li><span>@ingredient.Ingredient.Name</span><span>@ingredient.Amount @ingredient.Unit</span></li>
                    }
                </ul>
                <div class="wrap-long-text">
                    <ol class="rounded">
                        <li class="caption"><h3 class="caption">Cooking steps:</h3></li>
                        @foreach (var cookingStep in Model.DisplayedCookingStepsRecipe)
                        {
                            <li>
                                <field>@cookingStep.Name</field>
                            </li>
                        }
                    </ol>
                </div>
            </div>
        </div>
    </div>
</form>